* {
  box-sizing: border-box;
  font-size: 16px;
}

body{
  text-align: center;
}

header {
  background-color: darkslategrey;
  color:antiquewhite;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

header h1{
  font-size: 50px;
}

#cooking-instructions p {
  margin-bottom: -3px;
  font-size: 20px;
}

/* updated heading format for back button and new recipe button */
header nav {
  float: right;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

header nav ul li button {
  background-color: antiquewhite;
  color: darkslategrey;
}
/* updated heading format for back button and new recipe button */

